In [ ]:
number=input("Enter your House Number : ")
street=input("Enter your Street Name : ")
town=input("Enter your Town Name : ")
country=input("Enter your Country : ")
postcode=input("Enter your Postcode : ")
print("\nAddress Details \n" + "Street: " + number + " " + street + "\nTown/City: " + town + "\nCountry: " + country + "\nPostcode: " + postcode)

Enter your House Number : 130
Enter your Street Name : Koprakalam
Enter your Town Name : Ponkunnam
Enter your Country : India
Enter your Postcode : 686506

Address Details
Street: 130 Koprakalam
Town/City: Ponkunnam
Country: India
Postcode: 686506

In [1]:
n1=float(input("Enter the first value : "))
n2=float(input("Enter the second value : "))
x=n1
y=n2
while(n2!=0):
  temp=n2
  n2=n1%n2
  n1=temp
gcd=n1
print("GCD of",x,"and",y,"is",gcd)

Enter the first value : 12
Enter the second value : 10
GCD of 12.0 and 10.0 is 2.0

In [4]:
x=[]
n=int(input("Enter list items : "))
for i in range(1,n+1):
  a=int(input("Enter the value of %d item : "%i))
  x.append(a)
for i in x:
  if(i%2==0):
    x.remove(i)
print("Modified list after removing even numbers : ")
print(x)

Enter list items : 5
Enter the value of 1 item : 2
Enter the value of 2 item : 3
Enter the value of 3 item : 4
Enter the value of 4 item : 6
Enter the value of 5 item : 9
Modified list after removing even numbers :
[3, 6, 9]

In [11]:
l=[]
x=int(input("Enter the limit : "))
for i in range (1,x+1):
  x=input("Enter first name : ")
  l.append(x)
  count=x.count('a')
  print("Number of time 'a' present in name : ",count)

Enter the limit : 3
Enter first name : ajai
Number of time 'a' present in name :  2
Enter first name : ajin
Number of time 'a' present in name :  1
Enter first name : anantharaj
Number of time 'a' present in name :  4

In [14]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 3
2
3
4
[2, 3, 4]
enter limit for list2 : 3
3
1
5
[3, 1, 5]
list1 and list2 are of same length i.e. 3
list1 and list2 sums to the same value i.e. 9
value that occur in both lists is/are : {3}

In [16]:
str=input("Enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char,'$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

Enter any string : anaconda
an$cond$

In [18]:
c=[]
x=int(input("Enter the limit for list : "))
for i in range (1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

Enter the limit for list : 4
Red
Green
Blue
Black
['Red', 'Green', 'Blue', 'Black']
Red Black

In [20]:
a=int(input("Enter any integer : "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is : ",n1+n2+n3)

Enter any integer : 3
value of n+nn+nnn is :  369

In [26]:
c1=[]
x=int(input("Enter the limit of list 1 :"))
for i in range (1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
print(p)
c2=[]
y=int(input("Enter the limit of list 2 :"))
for i in range (1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference(q))

Enter the limit of list 1 :3
red
blue
black
{'red', 'blue', 'black'}
Enter the limit of list 2 :3
orange
blue
violet
{'blue', 'orange', 'violet'}
{'red', 'black'}

In [29]:
k1=input("Enter the first key : ")
k2=input("Enter the second key : ")
k3=input("Enter the third key : ")
k4=input("Enter the fourth key : ")
k5=input("Enter the fifth key : ")
v1=input("Enter the first value : ")
v2=input("Enter the second value : ")
v3=input("Enter the third value : ")
v4=input("Enter the fourth value : ")
v5=input("Enter the fifth vaue : ")
d={}
d[k1]=v1
d[k2]=v2
d[k3]=v3
d[k4]=v4
d[k5]=v5
l=list(d.items())
l.sort()
print("Ascending order is : ",l)
l=list(d.items())
l.sort(reverse =True)
print("Dscending order is : ",l)

Enter the first key : 4
Enter the second key : 2
Enter the third key : 6
Enter the fourth key : 3
Enter the fifth key : 8
Enter the first value : 7
Enter the second value : 4
Enter the third value : 6
Enter the fourth value : 8
Enter the fifth vaue : 1
Ascending order is :  [('2', '4'), ('3', '8'), ('4', '7'), ('6', '6'), ('8', '1')]
Dscending order is :  [('8', '1'), ('6', '6'), ('4', '7'), ('3', '8'), ('2', '4')]

In [30]:
x=input("Enter first string : ")
y=input("Enter second string : ")
def swapch(x,y):
  a=y[:1]+x[1:]
  b=x[:1]+y[1:]
  return a+ ' '+b
print(swapch(x,y))

Enter first string : Tone
Enter second string : Sound
Sone Tound