In [1]:
a=1 
print("the value of",a,"is of the type",type(a))
b="hello" 
print("the value of",b,"is of the type",type(b))
c=3.14 
print("the value of",c,"is of the type",type(c))
d=2j
print("the value of",d,"is of the type",type(d))
e={"Python","Data Structure","Web Programming"}
print("the value of",e,"is ofthe type",type(e))
f=("Python","Data Structure","Web Programming")
print("the value of",f,"is of the type",type(f))
g=["Python","Data Structure","Web Programming"]
print("the value of",g,"is of the type",type(g))
h=range(10)
print("the value of",h,"is of the type",type(h))
i=True
print("the value of",i,"is of the type",type(i))

the value of 1 is of the type <class 'int'>
the value of hello is of the type <class 'str'>
the value of 3.14 is of the type <class 'float'>
the value of 2j is of the type <class 'complex'>
the value of {'Web Programming', 'Data Structure', 'Python'} is ofthe type <class 'set'>
the value of ('Python', 'Data Structure', 'Web Programming') is of the type <class 'tuple'>
the value of ['Python', 'Data Structure', 'Web Programming'] is of the type <class 'list'>
the value of range(0, 10) is of the type <class 'range'>
the value of True is of the type <class 'bool'>

In [2]:
print("Hello World !")

Hello World !

In [3]:
x=(input("Enter a Integer value : "))
print(x)

Enter a Integer value : 6
6

In [4]:
a=int(input("Enter the Value of First Integer : "))
b=int(input("Enter the value of Second Integer : "))
c=a+b
print("Sum :",c)

Enter the Value of First Integer : 5
Enter the value of Second Integer : 7
Sum : 12

In [5]:
a=float(input("Enter the First Float Number : "))
b=float(input("Enter the Second Float Number : "))
c=a*b
print("Product:",c)

Enter the First Float Number : 3.0
Enter the Second Float Number : 6.0
Product: 18.0

In [6]:
a=int(input("Enter the First Value : "))
b=int(input("Enter the Second Value : "))
q=a//b
print("Quotient : ",q)
r=a%b
print("Remainder : ",r)

Enter the First Value : 17
Enter the Second Value : 2
Quotient :  8
Remainder :  1

In [7]:
x=int(input("Enter the First Value : "))
y=int(input("Enter the Second Value : "))
print("Value of the First Number before Swapping : ",x)
print("Value of the Second Number before Swapping : ",y)
z=x
x=y
y=z
print("Value of the First Number After Swapping : ",x)
print("Value of the Second Number After Swapping :",y)

Enter the First Value : 6
Enter the Second Value : 7
Value of the First Number before Swapping :  6
Value of the Second Number before Swapping :  7
Value of the First Number After Swapping :  7
Value of the Second Number After Swapping : 6

In [8]:
a=int(input("Enter a Number : "))
b=a%2
if b==0:
  print(a,"is an Even number")
else:
   print(a,"is an Odd number")

Enter a Number : 5
5 is an Odd number

In [9]:
ch=input("Enter any character : ")
if(ch=='A'or ch=='E'or ch=='I'or ch=='O'or ch=='U'or ch=='a'or ch=='e'or ch=='i'or ch=='o'or ch=='u'):
  print(ch,"is a Vowel.")
else:
  print(ch,"is a Consonant.")

Enter any character : r
r is a Consonant.

In [10]:
x=float(input("Enter the First Number : "))
y=float(input("Enter the Second Number : "))
z=float(input("Enter the Third Number : "))
if (x>y) and (x>z):
  print(x,"is the Largest Number.")
elif(y>x) and (y>z):
  print(y,"is the Largest Number.")
else:
  print(z,"is the Largest Number.")

Enter the First Number : 6
Enter the Second Number : 10
Enter the Third Number : 4
10.0 is the Largest Number.

In [11]:
year=int(input("Enter the Year : "))
if ((year%400==0) or ((year%4==0) and (year%100!=0))):
   print(year,"is a Leap Year.")
else:  
  print(year,"is not a Leap Year.")

Enter the Year : 2012
2012 is a Leap Year.

In [12]:
x=int(input("Enter a number : "))
if x>0:
  print(x,"is a Positive Number.")
else:
  print(x,"is Negative Number.")

Enter a number : -10
-10 is Negative Number.

In [13]:
n=int(input("Enter a Number : "))
if (n<0):
  print("Print a Positive Number")
else:
  sum=0
  while(n>0):
    sum+=n
    n-=1
  print("Sum of Natural Numbers is :",sum)

Enter a Number : 10
Sum of Natural Numbers is : 55

In [15]:
n=int(input("Enter a Number : "))
fact=1
for i in range(1,n+1):
  fact=fact*i
print("Factorial of",n,"is",fact)

Enter a Number : 6
Factorial of 6 is 720

In [17]:
a=int(input("Show the Multiplication Table : "))
for i in range(1,11):
  print(a,"x",i,"=",a*i)

Show the Multiplication Table : 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [18]:
n=int(input("Enter any Number : "))
x,y =0,1
count=0
if n<=0:
  print("Please enter a Positive Number.")
elif n==1:
  print("Fibonacci Sequence upto",n,":")
  print(x)
else:
  print("Fibonacci Sequence : ")
  while count<n:
    print(x)
    z=x+y
    x=y
    y=z
    count+=1

Enter any Number : 10
Fibonacci Sequence :
0
1
1
2
3
5
8
13
21
34

In [19]:
def find_lcm(x,y):
  if x>y:
    greater=x
  else:
    greater=y
  while(True):
     if ((greater%x==0) and (greater%y==0)):
       lcm=greater
       break
     greater+=1
  return lcm
a=int(input("Enter the First Number : "))
b=int(input("Enter the Second Number : "))
print("The LCM is : ", find_lcm(a,b))

Enter the First Number : 6
Enter the Second Number : 10
The LCM is :  30

In [20]:
n=int(input("Enter a Number : "))
count=0
while (n>0):
  count=count+1
  n=n//10
print("The Number of Digits in the given Number is : ",count)

Enter a Number : 6000
The Number of Digits in the given Number is :  4

In [22]:
a=int(input("Enter the Number to be Reversed : "))
rev=0
while a>0:
 rev=(rev*10)+(a%10)
 a=a//10
print("Reverse is",rev)

Enter the Number to be Reversed : 5678
Reverse is 8765

In [23]:
x=int(input("Enter a positive number : "))
e=int(input("Enter the value of the exponent : "))
p=1
for i in range(1,e+1):
  p=p*x
print("The power of",x,"^",e,"is",p)

Enter a positive number : 12
Enter the value of the exponent : 2
The power of 12 ^ 2 is 144

In [24]:
n=int(input("Enter the number : "))
rev=0
temp=n
while (temp>0):
  r=temp%10
  rev=(rev*10)+r
  temp=temp//10
print("Reverse of the given number is : ",rev)
if (n==rev):
  print(n,"is a palindrome number.")
else:
  print(n,"is not a palindrome.")

Enter the number : 121
Reverse of the given number is :  121
121 is a palindrome number.